<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Handshakes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="top-main-content">
    <% @search_posts.each do |post| %>
    <li>
      <p class="main-content-title"><span><%= post.title.truncate(23) %></span></p>
      <p class="main-content-text"><%= post.content.truncate(80) %></p>
    </li>
  <% end %>
</div>
  </body>
</html>
