<!DOCTYPE html>
<html>
  <head>
    <title>Handshakes3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


<div class="top-main-content-group">
</div>
  <div class="top-main-content">
    <p class="content-heading">『週間』</p>
    <% @posts.each do |post| %>
    <li>
      <div class="button-link modal-main-content" id="-datail">
        <p class="main-content-title"><span><%= post.title.truncate(23)%></span></p>
        <p class="main-content-text"><%= post.content.truncate(80) %></p>
      </div>
      <div class="modal-main-content-detail">
        <div class="main-content-set">
          <div class="content-detail">
            <p class="datail-title">『<%= post.title %>』</p>
            <p class="datail-text"><%= post.content %></p>
          </div>
          <div class="content-datail-footer">
            <p class="content-detail-borderline"></p>
            <div class="handshake-image button-link">
              <%= image_tag 'handshake.png' %>
              <% if @current_user %>
              <% if Like.find_by(user_id: @current_user.id,post_id: post.id)%>
                          <%= link_to("いいね！済み", "/likes/#{post.id}/destroy",{method: "post"})%>
                        <% else %>
                          <%= link_to("いいね！", "/likes/#{post.id}/create",{method: "post"})%>
                        <% end %>
              <% else %>
              <%= link_to("いいね！", "/home/not_login")%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-footer">
        <p class="main-content-borderline"></p>
        <div class="handshake-image button-link">
          <%= image_tag 'handshake.png' %>
          <% if @current_user %>
          <% if Like.find_by(user_id: @current_user.id,post_id: post.id)%>
            <%= link_to("いいね！済み", "/likes/#{post.id}/destroy",{method: "post"})%>
          <% else %>
            <%= link_to("いいね！", "/likes/#{post.id}/create",{method: "post"})%>
          <% end %>
          <% else %>
          <%= link_to("いいね！", "/home/not_login")%>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </div>









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="application"></script>
  </body>
</html>
