<!DOCTYPE html>
<html>
  <head>
    <title>Handshakes3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


    <div class="top-favorite">
      <p>気になるジャンル</p>
    </div>

<div class="top-main-content-group">
</div>
  <div class="top-main-content">
    <p class="content-heading">『週間』</p>
    <% @posts.each do |post| %>
    <li>
      <div class="button-link modal-main-content">
        <p class="main-content-title"><span><%= post.title.truncate(23) %></span></p>
        <p class="main-content-text"><%= post.content.truncate(80) %></p>
      </div>
      <p class="main-content-borderline"></p>
      <div class="handshake-image button-link">
        <%= image_tag 'handshake.png' %>
      </div>
    </li>
    <% end %>

  </div>
  <div id="modal-main-content-detail">
  </div>








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="application"></script>
  </body>
</html>
