<!DOCTYPE html>
<html>
  <head>
    <title>Handshakes3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
     <div class="header-logo">
       <%= link_to home_top_path do %> <%= image_tag 'header-logo.png' %> <% end %>
     </div>
     <ul class="header-menus">
       <li id="modal-open" class="button-link">
          <%= image_tag 'manpen2.png' %>
       </li>
       <li id="modal-action" class="button-link">
         <%= image_tag 'account.png' %>
       </li>
       <li>
       </li>
     </ul>
   </header>
   <div id="modal-content">
     <p class="push-close"><a id="modal-close" class="button-link">
       <%= image_tag 'batu.png' %>
     </a></p>
     <p class="push-submit"><a id="modal-submit"class="button-link">
       <%= image_tag 'submit.png' %>
     </a></p>


<div class="content-checkbox">
  <p><input type="checkbox" name="check" value="prop" id="content-title">タイトル</p>
  <p><input type="checkbox" name="check" value="prop" id="content-text">画像挿入</p>
</div>

<!--結果出力用-->
<p id="p01" class="submit-title">
  <textarea></textarea>
 </p>
<p id="p02"><input type="file" name="image"></p>



     <div class="submit-text">
       <textarea></textarea>
     </div>
     </div>

   <div id="modal-overlay"></div>

   <div id="modal-actionmenu" class="header-actionmenu">
     <div class="account-img">
       <%= image_tag 'account.png'%>
     </div>
     <p class="user-name">name</p>
     <ul class="action-menus">
        <li class="menus-button button-link">
          <%= image_tag 'comment.png'%>
        </li>
        <li class="menus-button button-link">
          <%= image_tag 'bin.png'%>
        </li>
        <li class="menus-button button-link">
          <%= image_tag 'mail.png'%>
        </li>
        <li class="menus-button button-link">
          <%= image_tag 'setup.png'%>
        </li>
        <li class="menus-button button-link">
          <%= image_tag 'login.png'%>
        </li>
        <li class="menus-button button-link">
        </li>
     </ul>
     <div class="action-option">
       <p class="button-link">Q&A</p>
       <p class="button-link">フィードバックの送信</p>
       <p class="button-link">Handshakesについて</p>
     </div>
   </div>


    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="application"></script>
  </body>
</html>
