<!DOCTYPE html>
<html>
  <head>
    <title>Handshakes3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
     <div class="header-logo">
       <%= link_to home_top_path do %> <%= image_tag 'header-logo.png' %> <% end %>
     </div>
     <ul class="header-menus">
       <li id="modal-open" class="button-link">
          <%= image_tag 'manpen.png' %>
       </li>
       <li>
       </li>
       <li>
       </li>
     </ul>
   </header>

    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="application"></script>
  </body>
</html>
