<!DOCTYPE html>
<html>
  <head>
    <title>Handshakes3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="application"></script>
  </head>

  <body>
    <header>
     <div class="header-logo">
       <%= link_to home_top_path do %> <%= image_tag 'header-logo.png' %> <% end %>
     </div>
     <dl class="searchbox">
      <%= search_form_for @search, url: home_index_path do |f| %>
        <dt><%= f.text_field :title_or_content_cont, placeholder: '検索するテキストを入力...' %></dt>
        <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
      <% end %>
     </dl>
     <ul class="header-menus">
       <% if @current_user == nil%>
       <li class = "button-link">
         <%= link_to("無料会員登録","/users/new")%>
       </li>
       <% end %>
       <div class =header-manpen2>
       <li id="modal-open" class="button-link">
          <%= image_tag 'manpen2.png' %>
       </li>
       </div>
       <div class =header-account>
       <li id="modal-action" class="button-link">
         <%= image_tag 'account.png' %>
       </li>
       </div>
     </ul>
   </header>

   <% if flash[:notice] %>
       <div id="notice" class="flash">
         <%= flash[:notice] %>
       </div>
   <% end %>


   <div id="modal-content">
     <div class="modal-content-set">
       <%= form_tag("/home/create") do %>
       <p class="push-close"><a id="modal-close" class="button-link">
         <%= image_tag 'batu.png' %>
       </a></p>
       <p id="modal-submit" class="push-submit">
         <input type="image" src="/assets/submit-f629c54f1c9984b668aa7b5f9387540b20cc639669f207e6eaddaa23f24e61a7.png" style="
             width: 30px;
             height: 30px;
         ">
       </p>
       <div class="content-checkbox">
         <p><input type="checkbox" name="check" value="prop" id="content-title">タイトル</p>
         <p><input type="checkbox" name="check" value="prop" id="content-text">画像挿入</p>
       </div>

      <p id="p01" class="submit-title">
        <input name="title">
      </p>
      <p id="p02"><input type="file" name="image"></p>
        <div class="submit-text">
          <textarea name="content" rows="8" cols="80"></textarea>
        </div>
        <%end%>
     </div>

    </div>

   <div id="modal-overlay"></div>

   <div id="modal-actionmenu" class="header-actionmenu">
     <div class="account-img">
       <% if @current_user %>
        <img src="<%= "/user_images/#{@current_user.image_name}"%>">
      <% else %>
        <img src="<%= "/user_images/account.png"%>">
      <% end %>
     </div>
     <p class="user-name">
       <% if @current_user %>
        <%= @current_user.name %>
      <% else %>
        guest
      <% end %>
     </p>
     <ul class="action-menus">
       <% if @current_user %>
        <li class="menus-button button-link">
          <%= link_to("/home/list") do %><%= image_tag 'comment.png'%><% end %>
        </li>
        <li class="menus-button button-link">
          <%= link_to community_top_path do %><%= image_tag 'bin.png'%><% end %>
        </li>
        <li class="menus-button button-link">
          <%= link_to home_mail_path do %> <%= image_tag 'mail.png'%> <% end %>
        </li>
        <li id="modal-setup" class="menus-button button-link">
          <%= image_tag 'setup.png'%>
        </li>
      <% else %>
      <div class="menus-button-opacity">
         <li class="menus-button">
           <%= image_tag 'comment.png'%>
         </li>
         <li class="menus-button">
           <%= image_tag 'bin.png'%>
         </li>
         <li class="menus-button">
           <%= image_tag 'mail.png'%>
         </li>
         <li  class="menus-button">
           <%= image_tag 'setup.png'%>
         </li>
        </div>
      <% end %>
        <li class="menus-button button-link">
            <% if session[:user_id]%>
                <div class="logout-button">
                  <%= form_tag users_logout_path do %><input type="image" src="/assets/logout.png"><% end %>
                </div>
            <%else%>
                <div id = "modal-login">
                  <%= image_tag 'login.png'%>
                </div>
            <%end%>
        </li>
     </ul>
     <div class="action-option">
       <p class="button-link  question-color"><%= link_to 'Q&A', '/home/question',:style=>"color:white;" %></p>
       <p id="modal-feedback" class="button-link">フィードバックの送信</p>
       <p class="button-link">Handshakesについて</p>
     </div>
  </div>

   <div id="modal-feedback-screen">
    <p class="feedback-title">フィードバックの送信</p>
    <button type="button" id="feedbackClose" class="close">&times;</button>
    <textarea placeholder="お客様の思いをできる範囲で汲み取りながら向上して行きたいと考えています。ですので、ご意見や、感想、問題点をご記入いただければ嬉しいです。"></textarea>
    <input type="submit" value="送信">
   </div>

    <%if @error_message %>
       <div class="form-error">
         <%= @error_message %>
        </div>
    <% end %>

    <%= form_tag("/users/login") do %>
     <div id="modal-login-form">
         <div class="login-textarea0">
           <p class=login-daimei>handshakesにログイン</p>
           <div class="login-textarea">
             <li>
               <input placeholder="メールアドレス" name="email">
             </li>
             <li>
               <input placeholder="パスワード" name="password">
             </li>
           </div>
           <div class="login-submit">
               <input type="submit" value="ログイン">
           </div>
        </div>
      </div>
    <% end %>

    <% if @current_user %>
          <%= form_tag("/users/update",{multipart: true}) do %>
          <div id="modal-setup-screen">
            <p class="setup-title-update">アカウントの編集ができます。</p>
            <%= image_tag 'account.png'%>
            <div class="setup-name-update">
                <input placeholder="name" name="name" value="<%= @current_user.name %>">
            </div>
            <div class="setup-textarea-update">
                <li>
                  <p>メールアドレス</p>
                  <input name="email" value="<%= @current_user.email %>">
                </li>
                <li>
                  <p>パスワード</p>
                  <input name="password" value="<%= @current_user.password %>">
                </li>
                <li>
                  <p>パスワード　確認</p>
                  <input name="password_confirmation" value="<%= @current_user.password_confirmation %>">
                </li>
            </div>
            <div class="setup-submit-update">
                <input type="submit" value="保存">
            </div>
          </div>
        <% end %>
      <% end %>

    <%= yield %>


  </body>
</html>
